.taskList {
  margin: 1rem;
  border: 1px dotted skyblue;
  padding: 1rem;
}

.addTaskContainer {
  margin-top: 3rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.errorText {
  color: red;
}

.addTask {
  margin-top: 1rem;
  padding: .8rem 1rem;
  font-size: 1.2rem;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
}

.addTask:hover {
  cursor: pointer;
  background: lightblue;
}
