.counterContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dotted skyblue;
  padding: 1rem;
  width: max-content;
}

.counterText {
  font-size: 1.2rem;
}

.counterButton {
  width: max-content;
  margin-top: 1rem;
  padding: .8rem 1rem;
  font-size: 1.2rem;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
}

.counterButton:hover {
  cursor: pointer;
  background: lightblue;
}
